header .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form {
  background: #c31432;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#240b36), to(#c31432));
  background: linear-gradient(to right, #240b36, #c31432);
}

header {
  background-image: url(/imagenes/Ticket.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

header .banner {
  width: 75%;
  height: 200px;
  margin: 0 auto;
}

header .banner span {
  position: absolute;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 16px;
  z-index: 1000;
  top: 7px;
  -webkit-text-stroke: 0.5px black;
}

@media (max-width: 800px) {
  header .banner span {
    font-size: 12px;
  }
}

header .banner i {
  font-size: 300px;
  color: #be1432;
  -webkit-text-stroke: 0.5px white;
}

@media (max-width: 800px) {
  header .banner i {
    font-size: 250px;
  }
}

@media (max-width: 400px) {
  header .banner i {
    font-size: 200px;
  }
}

header form {
  width: 33%;
  height: 65%;
  border: solid 1px #fff;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  opacity: 0.8;
  border-radius: 15px;
}

@media (max-width: 800px) {
  header form {
    width: 50%;
  }
}

@media (max-width: 400px) {
  header form {
    width: 100%;
  }
}

header form h3 {
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.grupo {
  position: relative;
  margin: 20px;
}

.grupo input {
  background: none;
  color: #c6c6c6;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

.grupo input:focus {
  outline: none;
  color: #fff;
}

.grupo input:focus ~ label,
.grupo input:valid ~ label {
  top: -14px;
  font-size: 13px;
  color: #2196f3;
}

.grupo input:focus ~ .barra::before {
  width: 100%;
}

.grupo label {
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 5px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.btn-registro {
  width: 70%;
  height: 35px;
  margin: 80px auto;
  border: none;
  display: block;
  color: #fff;
  background: #22c1c3;
  background: -webkit-gradient(linear, left bottom, left top, from(#22c1c3), to(#fd2de0));
  background: linear-gradient(0deg, #22c1c3 0%, #fd2de0 100%);
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#B06AB3), to(#4568DC));
  background: linear-gradient(to right, #B06AB3, #4568DC);
  -webkit-transition: 0.3s ease width;
  transition: 0.3s ease width;
  left: 0;
}
/*# sourceMappingURL=registro.css.map */