///////HERENCIAS//////
%alineacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

%color-background {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
}

%background-image {
    background-image: url(/imagenes/Ticket.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

//VARIABLES///
$fuente01: 'Raleway',
sans-serif;
$color06: black;
////HEADER//////
header {
    @extend %background-image;
    .banner {
        width: 75%;
        height: 200px;
        margin: 0 auto;
        @extend %alineacion;
        span {
            position: absolute;
            font-family: $fuente01;
            color: white;
            font-size: 16px;
            z-index: 1000;
            top: 7px;
            -webkit-text-stroke: 0.5px black;
            @media (max-width: 800px) {
                font-size: 12px;
            }
        }
        i {
            font-size: 300px;
            color: #be1432;
            -webkit-text-stroke: 0.5px white;
            @media (max-width: 800px) {
                font-size: 250px;
            }
            @media (max-width: 400px) {
                font-size: 200px;
            }
        }
    }
    form {
        width: 33%;
        height: 65%;
        border: solid 1px #fff;
        display: block;
        @extend %color-background;
        margin: 0 auto;
        margin-top: 15px;
        opacity: 0.8;
        border-radius: 15px;
        @media (max-width: 800px) {
            width: 50%;
        }
        @media (max-width: 400px) {
            width: 100%;
        }
        h3 {
            text-align: center;
            color: #fff;
            font-size: 30px;
        }
    }
}

.grupo {
    position: relative;
    margin: 20px;
    input {
        background: none;
        color: #c6c6c6;
        font-size: 15px;
        padding: 5px 5px 5px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        &:focus {
            outline: none;
            color: #fff;
        }
        &:focus~label,
        &:valid~label {
            top: -14px;
            font-size: 13px;
            color: #2196f3;
        }
        &:focus~.barra::before {
            width: 100%;
        }
    }
    label {
        color: #fff;
        font-size: 16px;
        position: absolute;
        top: 10px;
        left: 5px;
        transition: 0.5s ease all;
    }
}

.btn-registro {
    width: 70%;
    height: 35px;
    margin: 80px auto;
    border: none;
    display: block;
    color: #fff;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 45, 224, 1) 100%);
    font-family: $fuente01;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
    &::before {
        content: "";
        height: 2px;
        width: 0%;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to right, #B06AB3, #4568DC);
        transition: 0.3s ease width;
        left: 0;
    }
}